* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  width: 120px;
  height: 50px;
  padding: 10px;
}
.bg {
  background-color: #9ba9eb;
  height: 100vh;
}
.ser {
  display: flex;
  margin: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 300px;
}
.span {
  color: white;
  border: 1px solid black;
  height: 20px;
  margin-top: 30px;
}
.po {
  color: white;
  margin: 20px;
}
.uu {
  display: flex;
}
.show {
  display: flex;
  justify-content: flex-end;
}
.check {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.pppp {
  color: white;
  margin-right: 10px;
}
.sec {
  background-color: #5763a5;
  width: 800px;
  margin-left: 10px;
  border-radius: 10px;
  margin: 10px;
}
.fir {
  background-color: #5763a5;
  padding: 10px;
  width: 800px;
  margin-left: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.p {
  color: white;
}
.ll {
  display: flex;
  margin: 10px;
}
.im {
  width: 24px;
  height: 30px;
  background-color: white;
}
.col {
  background-color: #454f84;
  width: 450px;
  margin: 10px;
  padding: 10px;
}
.bb {
  display: flex;
  justify-content: flex-end;
}
.but {
  background-color: blue;
  color: white;
  margin-right: 20px;
}
.inp {
  width: 200px;
  height: 30px;
}
.ppp {
  width: 300px;
  height: 200px;
}
.gar {
  display: flex;
}
.last {
  width: 200px;
  height: 150px;
}
.tt {
  text-align: center;
  margin-bottom: 10px;
}
.y {
  color: white;
  text-align: center;
  margin: 10px;
}
.pcol {
  background-color: green;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  text-align: center;
  margin-top: 30px;
  margin: 30px;
}
.ul {
  list-style-type: none;
  margin: 10px;
  pad: 10px;
  display: flex;
  flex-wrap: wrap;
}
.whi {
  color: white;
}
.star {
  width: 100px;
}
.lol {
  border: 1px solid gray;
  width: 200px;
  display: flex;
  height: 110px;
  padding-bottom: 15px;
  margin: 10px;
}
.del {
  width: 20px;
  height: 20px;
  margin-top: 40px;
  margin-right: 10px;
}
.bu {
  background-color: transparent;
  border: 0px solid transparent;
}
